.git
.github
.env
.env.*
!.env.example
node_modules
vendor
tests
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
!storage/logs/.gitignore
!storage/framework/cache/.gitignore
!storage/framework/sessions/.gitignore
!storage/framework/views/.gitignore
public/logo_produk/*
public/poster_produk/*
!public/logo_produk/.gitkeep
!public/poster_produk/.gitkeep
public/hot
public/storage
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
.vscode
