
body{
    overflow-x:hidden;   
    margin:0;
    padding: 0; 
    
}

section{
    z-index: 1;
}

.nunito{
    font-family: 'nunito';
}
section{
    width:100%;
    overflow-x:hidden;
}
:root {
    --main  : #ffad48;
    --blue  : #03192E;
    --sblue : #082642;
    --lblue  : #287D9D
  }

.bt-main{
  background-color: var(--main);
  padding:7px 20px;
  color:white;
  border:0px;
  border-radius:4px;
}
.bt-linear{
    padding:5px 20px;
    background-image: linear-gradient(to right, #FF7D53, #FFAD48);
    color:white;
    border:0px;
    border-radius:4px;
}
.bt-white{
  padding:5px 20px;
  background-color:white;;
  color:var(--blue);
  border:0px;
  border-radius:4px;
}

.color-main{
  color:var(--main);
}
.color-blue{
  color:var(--sblue);
}
.color-lblue{
  color:var(--lblue);
}


/* section cover-page */
#cover-page{
    margin:0px;
    width:100%;
    overflow-x:hidden;
    min-height:100vh;
    background-image: linear-gradient(to right, #03192E , #153A5C);
}



.main-text{
    color:var(--main);
}
.blue-text{
    color:var(--blue);
}
/* endsection */






  /* FOOTER */
  #myFooter{
      min-height:200px;
      background-color: var(--blue);      
      overflow-x: hidden;
  }

  #myFooter .t-footer{
    min-height:200px;
    padding-top:5%;
    padding-bottom:5%;
    background-color: var(--blue);  
  }

  #myFooter .t-footer img{
    width:100px;
    margin-top:20%;  
  }

  #myFooter .t-footer ul{ 
    color:#ffffff;
    padding: 0.1px;   
    margin-top:15%;  
    list-style: none;
    line-height: 34px;
    font-weight: lighter;
  }
  #myFooter .t-footer p{
    margin-top:8%;
    font-weight: 700;
    margin-bottom:0px;
  }
  #myFooter .t-footer span{
    font-weight:lighter;
  }
  #myFooter .b-footer{
    padding:0.1px;  
    margin: auto;
    vertical-align: middle;
    min-height:40px;
    background-color: var(--sblue);  
    font-size:10px;
  }



  #myFooter .b-footer p{
      margin-top:14px;
  }



  /* card potensi */
.card-produk{
    width:100%;
    min-height:300px;            
    margin:0px;
    cursor:pointer;
}
.card-produk .cover-produk{
    min-height:74%;
    border-radius:10px;
}
.card-produk .desc-produk{
    padding-top:5px;
}
.card-produk .desc-produk h5{
    font-size: 20px;
    font-family: nunito;
    font-weight: 700;
    margin-top:3px;
    margin-bottom: 0px;
    color: var(--blue);
}        
.card-produk .desc-produk p{
    font-size:14px;
    font-family:nunito;
}

.card-pelatihan{
  min-height: 200px;
  border:1px solid #dad8d8;
  margin-bottom:10px;
}

.card-pelatihan .cover-card{
  height:150px;
  overflow:hidden;  
}
.card-pelatihan .cover-card img{
  width:100%;  
}
.card-pelatihan .caption-card{
  padding:13px 15px;
}
.card-pelatihan .caption-card p{
  font-family:nunito;
  font-weight:700;
  font-size:18px;
  width:80%;
  line-height: 18px;
  margin-bottom:4px;
  display: inline-block;
}
.card-pelatihan .caption-card .mentor{
  color:#28a745;    
  margin-top:5px;
  font-size:12px;
  font-weight: 400;
}
.card-pelatihan .caption-card .enroll{
  width:18%;
  height:50px;
  padding:10px 15px;
  padding-top: 15px;
  background-color: var(--lblue);
  display: inline-block;
  float: right;
  transform: translateY(-40px);  
  border-radius:100px;
  color:#fafafafa;
  text-align:center;;
}



.product-wrapper{ 
  padding:10px;
}

@media only screen and (max-width:720px){
  .product-wrapper{
    height:290px;                
}            
  .card-produk{
      padding: 10px;
      height: 150px;
      margin-bottom: 10px;
  }
  .card-produk .desc-produk h5{
      font-size: 15px;
      font-family: nunito;
      font-weight: 700;
      margin-top:3px;
      margin-bottom: 0px;
      color: var(--blue);
  }        
  .card-produk .desc-produk p{
      font-size:9px;
      font-family:nunito;
  }
  .card-produk .cover-produk{
      min-height:80%;
      border-radius:10px;
  }
}
  /* end card potensi */